p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin: 0;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228,228,228);
    background-color: rgb(240, 240, 240);
    
}